################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigHub/GigHub/App_Data/aspnet-GigHub-20160601030541_log.ldf
