################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHub/.vs/GigHub/v14/.suo
/GigHub/GigHub/App_Data/*.ldf
/GigHub/GigHub/App_Data/*.mdf
/GigHub/GigHub/bin/*
/GigHub/GigHub/obj/*
/GigHub/GigHub.csproj.user

